@using TAHB.Model;
@{
    Layout = null;
    List<_userinfo> models = ViewBag.models;
}

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            用户列表
        </header>

        <table class="table table-striped table-advance table-hover">
            <tbody>
                <tr>
                    <th><i class="icon_profile"></i> 名字</th>
                    <th><i class="icon_calendar"></i> 日期</th>
                    <th><i class="icon_calendar"></i> 失效日期</th>
                    <th><i class="icon_mail_alt"></i> 邮箱</th>
                    <th><i class="icon_pin_alt"></i> 城市</th>
                    <th><i class="icon_mobile"></i> 电话</th>
                    <th><i class="icon_cogs"></i> 操作</th>
                </tr>
                @foreach(_userinfo user in models)
                {
                <tr>
                    <td>@user.name</td>
                    <td>@user.regtime</td>
                    <td>@user.endtime</td>
                    <td>@user.email</td>
                    <td>@user.address</td>
                    <td>@user.phone</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" onclick="adduser()" href="javascript:void(0)" data-toggle="tooltip" title="新增用户"><i class="icon_plus_alt2"></i></a>
                            <a class="btn btn-success" onclick="updatetuser('@user.id','@user.name')" href="javascript:void(0)" data-toggle="tooltip" title="修改用户消息"><i class="icon_cog"></i></a>
                            <a class="btn btn-danger" onclick="deluser('@user.id','@user.name')" href="javascript:void(0)" data-toggle="tooltip" title="删除用户"><i class="icon_close_alt2"></i></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </section>
    @Html.Partial("pages")
</div>
<div id="modal_body_AddUser" style="display:none">
    @Html.Partial("AddUser")
</div>
<div id="modal_body_DelUser" style="display:none">
   用户删除后无法找回，确认删除？
</div>
<script>
    function adduser()
    {
        modal("新增用户", "modal_body_AddUser", "取消", "保存", "users/AddUser");
    }
    function deluser(id,name)
    {
        modal("删除用户: " + name, "modal_body_DelUser", "取消", "删除", "users/DelUser/" + id);
    }
    function updatetuser(id, name) {
        modal_update(id, "修改用户: " + name, "取消", "修改","users/UpdateUser");
    }
</script>