<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="泰安环保科技有限公司" />
    <meta name="description" content="泰安环保科技有限公司" />
    @Styles.Render("~/Content/zgcss")
    @Html.Partial("_PartialCommon")
</head>
<body>
    @Html.Partial("headerpartial")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("footerpartial")

</body>
</html>
