@model _69zg.Models.合同记录
@{ Layout = null;}
@using (Html.BeginForm("UpdateCcontract", "tahboa", FormMethod.Post, new { @target = "upd" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>合同记录</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.合同区域, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.合同区域, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.合同区域, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.合同类别, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.合同类别, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.合同类别, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.合同编号, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.合同编号, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.合同编号, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.甲方, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.甲方, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.甲方, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.乙方, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.乙方, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.乙方, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.签订地点, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.签订地点, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.签订地点, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.签订时间, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.签订时间, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.签订时间, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.合同内容, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.合同内容, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.合同内容, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.合同生效日期, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.合同生效日期, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.合同生效日期, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.合同终止日期, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.合同终止日期, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.合同终止日期, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.到期提醒时间, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.到期提醒时间, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.到期提醒时间, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.结束提醒日期, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.结束提醒日期, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.结束提醒日期, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.是否到期提醒, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.是否到期提醒, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.是否到期提醒, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.甲方法人代表, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.甲方法人代表, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.甲方法人代表, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.已方法人代表, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.已方法人代表, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.已方法人代表, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.甲方联系人, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.甲方联系人, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.甲方联系人, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.乙方联系人, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.乙方联系人, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.乙方联系人, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.甲方联系电话, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.甲方联系电话, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.甲方联系电话, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.乙方联系电话, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.乙方联系电话, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.乙方联系电话, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.甲方传真, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.甲方传真, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.甲方传真, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.乙方传真, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.乙方传真, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.乙方传真, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.甲方邮箱, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.甲方邮箱, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.甲方邮箱, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.乙方邮箱, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.乙方邮箱, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.乙方邮箱, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.甲方注册地, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.甲方注册地, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.甲方注册地, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.乙方注册地, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.乙方注册地, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.乙方注册地, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.other, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript:void(0)" onclick="linkliselelct('ListContracts')">返回</a>
</div>
