@model IEnumerable<_69zg.Models.仓库转移类别>
@{ Layout = null;}
<p>
    <a href="javascript:void(0)" onclick="linkliselelct('AddStorageType')">新增合同类别</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.other)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.other)
        </td>
        <td>
            <a href="javascript:void(0)" onclick="ContractOpt('@item.id','TAHBOA','EditStorageType')">编辑</a> |
            @*<a href="javascript:void(0)" onclick="ContractOpt('@item.id','TAHBOA','DetailContratType')">详细</a> |*@
            <a href="javascript:void(0)" onclick="ContractOpt('@item.id','TAHBOA','DelStorageType','@item.id')">删除</a>

        </td>
    </tr>
}

</table>
