@model IEnumerable<_69zg.Models.合同记录>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.合同类别)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.合同区域)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.合同编号)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.甲方)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.乙方)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.签订地点)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.签订时间)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.合同内容)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.合同生效日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.合同终止日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.到期提醒时间)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.结束提醒日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.是否到期提醒)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.甲方法人代表)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.已方法人代表)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.甲方联系人)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.乙方联系人)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.甲方联系电话)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.乙方联系电话)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.甲方传真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.乙方传真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.甲方邮箱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.乙方邮箱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.甲方注册地)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.乙方注册地)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.other)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.合同类别)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.合同区域)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.合同编号)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.甲方)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.乙方)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.签订地点)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.签订时间)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.合同内容)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.合同生效日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.合同终止日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.到期提醒时间)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.结束提醒日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.是否到期提醒)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.甲方法人代表)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.已方法人代表)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.甲方联系人)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.乙方联系人)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.甲方联系电话)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.乙方联系电话)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.甲方传真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.乙方传真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.甲方邮箱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.乙方邮箱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.甲方注册地)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.乙方注册地)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.other)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
