@model IEnumerable<_69zg.Models.合同类别>
@{ Layout = null;}
<p>
    <a href="javascript:void(0)" onclick="linkliselelct('AddContratType')">新增合同类别</a>
</p>
<table class="table">
    <tr>
        <th>
          类别代码
        </th>
        <th>
           类别名称
        </th>
        <th>
           备注
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.other)
        </td>
        <td>
        <td>
            <a href="javascript:void(0)" onclick="ContractOpt('@item.id','TAHBOA','EditContratType')">编辑</a> |
            @*<a href="javascript:void(0)" onclick="ContractOpt('@item.id','TAHBOA','DetailContratType')">详细</a> |*@
            <a href="javascript:void(0)" onclick="ContractOpt('@item.id','TAHBOA','DelContratType','@item.id')">删除</a>
        </td>
    </tr>
}

</table>
