<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="泰安环保科技有限公司,云桌面,虚拟化,机房管理,电子元器件,硬盘保护" />
    <meta name="description" content="泰安环保科技有限公司，专门为机房提供云桌面，虚拟化，远程管理，高校机房管理，电子元器件，硬盘保护；经理：聂立，联系电话：15801473663" />
    @Styles.Render("~/Content/zgcss")
    @Html.Partial("~/views/shared/_PartialCommon.cshtml")
</head>
<body>
    @Html.Partial("~/views/company/headerpartial.cshtml")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("~/views/company/footerpartial.cshtml")

</body>
</html>
